<!DOCTYPE html >
<html>
  <head />
  <body>
    <p style="font-size:12pt;font-family:'Segoe UI'">Dear $DevFirstName $DevLastName,</p>
    <p style="font-size:12pt;font-family:'Segoe UI'">Thank you for contacting us. Our API team will review your issue and get back to you soon.</p>
    <p style="font-size:12pt;font-family:'Segoe UI'">
          Click this <a href="http://$DevPortalUrl/issues/$IssueId">link</a> to view or edit your request.
        </p>
    <p style="font-size:12pt;font-family:'Segoe UI'">Best,</p>
    <p style="font-size:12pt;font-family:'Segoe UI'">The $OrganizationName API Team</p>
  </body>
</html>