<!DOCTYPE html >
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Letter</title>
  </head>
  <body>
    <table width="100%">
      <tr>
        <td>
          <p style="font-size:12pt;font-family:'Segoe UI'">Dear $DevFirstName $DevLastName,</p>
          <p style="font-size:12pt;font-family:'Segoe UI'"></p>
          <p style="font-size:12pt;font-family:'Segoe UI'">Thank you for joining the $OrganizationName API program! We host a growing number of cool APIs and strive to provide an awesome experience for API developers.</p>
          <p style="font-size:12pt;font-family:'Segoe UI'">First order of business is to activate your account and get you going. To that end, please click on the following link:</p>
          <p style="font-size:12pt;font-family:'Segoe UI'">
            <a id="confirmUrl" href="$ConfirmUrl" style="text-decoration:none">
              <strong>$ConfirmUrl</strong>
            </a>
          </p>
          <p style="font-size:12pt;font-family:'Segoe UI'">If clicking the link does not work, please copy-and-paste or re-type it into your browser's address bar and hit "Enter".</p>
          <p style="font-size:12pt;font-family:'Segoe UI'">Thank you,</p>
          <p style="font-size:12pt;font-family:'Segoe UI'">$OrganizationName API Team</p>
          <p style="font-size:12pt;font-family:'Segoe UI'">
            <a href="$DevPortalUrl">$DevPortalUrl</a>
          </p>
        </td>
      </tr>
    </table>
  </body>
</html>