<!DOCTYPE html >
<html>
  <head />
  <body>
    <p style="font-size:12pt;font-family:'Segoe UI'">Dear $DevFirstName $DevLastName,</p>
    <p style="font-size:12pt;font-family:'Segoe UI'">This is a brief note to let you know that $CommenterFirstName $CommenterLastName made the following comment on the issue $IssueName you created:</p>
    <p style="font-size:12pt;font-family:'Segoe UI'">$CommentText</p>
    <p style="font-size:12pt;font-family:'Segoe UI'">
          To view the issue on the developer portal click <a href="http://$DevPortalUrl/issues/$IssueId">here</a>.
        </p>
    <p style="font-size:12pt;font-family:'Segoe UI'">Best,</p>
    <p style="font-size:12pt;font-family:'Segoe UI'">The $OrganizationName API Team</p>
  </body>
</html>