<style>
.zone-content { padding: 0 }
basic-signin > p:first-child { display: none }
</style>

<div style="background: #0066cc; color: white; padding: 1em 4em; margin: 0;" class="row">
<div class="col-md-8">
<h1>Welcome to the developer portal !</h1>
<p>
<p class="lead">Sign up to get an API key and start consuming the API</p>
</div>
<div class="col-md-4" style="padding-top: 3%">
<a class="btn btn-lg btn-success" href="/signup/">Sign up</a>
</div>
</div>

<div style="padding-top: 2em">
<h2 class="text-center">{% localized "SigninStrings|WebAuthenticationSigninTitle" %}</h2>
{% if registrationEnabled == true %}
<!-- <p class="text-center" style="font-size: 1.5em;">{% localized "SigninStrings|WebAuthenticationNotAMember" %}</p>
<hr /> -->
{% endif %}

<div class="row center-block ap-idp-container">
<p class="text-center">If you are already registered</p>
  <div class="col-md-6">
	{% if registrationEnabled == true %}
		<!-- <p>{% localized "SigninStrings|WebAuthenticationSigininWithPassword" %}</p> -->
    <basic-SignIn></basic-SignIn>
	{% endif %}
  </div>

	{% if registrationEnabled != true and providers.size == 0 %}
		{% localized "ProviderInfoStrings|TextboxExternalIdentitiesDisabled" %}
  {% else %}
		{% if providers.size > 0 %}
	  <div class="col-md-6">
			<div class="providers-list">
				<p class="text-left">
				{% if registrationEnabled == true %}
					{% localized "ProviderInfoStrings|TextboxExternalIdentitiesSigninInvitation" %}
				{% else %}
					{% localized "ProviderInfoStrings|TextboxExternalIdentitiesSigninInvitationPrimary" %}
				{% endif %}
				</p>
        <providers></providers>
			</div>
    </div>
		{% endif %}
	{% endif %}

  {% if userRegistrationTermsEnabled == true %}
    <div class="col-md-6">
        <div id="terms" class="modal" role="dialog" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">{% localized "SigninResources|DialogHeadingTermsOfUse" %}</h4>
                    </div>
                    <div class="modal-body break-all">{{userRegistrationTerms}}</div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">{% localized "CommonStrings|ButtonLabelClose" %}</button>
                    </div>
                </div>
            </div>
        </div>
        <p>{% localized "SigninResources|TextblockUserRegistrationTermsProvided" %}</p>
    </div>
</div>

	{% endif %}
</div>