<!DOCTYPE html >
<html>
  <head />
  <body>
    <p style="font-size:12pt;font-family:'Segoe UI'">Dear $DevFirstName $DevLastName,</p>
    <p style="font-size:12pt;font-family:'Segoe UI'">
          On behalf of $OrganizationName and our customers we thank you for giving us a try. Your $OrganizationName API account is now closed.
        </p>
    <p style="font-size:12pt;font-family:'Segoe UI'">Thank you,</p>
    <p style="font-size:12pt;font-family:'Segoe UI'">Your $OrganizationName Team</p>
    <a href="$DevPortalUrl">$DevPortalUrl</a>
    <p />
  </body>
</html>