<!DOCTYPE html >
<html>
  <head />
  <body>
    <p style="font-size:12pt;font-family:'Segoe UI'">Dear $DevFirstName $DevLastName,</p>
    <p style="font-size:12pt;font-family:'Segoe UI'">
          Thank you for your interest in our <strong>$ProdName</strong> API product!
        </p>
    <p style="font-size:12pt;font-family:'Segoe UI'">
          We were delighted to receive your subscription request. We will promptly review it and get back to you at <strong>$DevEmail</strong>.
        </p>
    <p style="font-size:12pt;font-family:'Segoe UI'">Thank you,</p>
    <p style="font-size:12pt;font-family:'Segoe UI'">The $OrganizationName API Team</p>
    <a style="font-size:12pt;font-family:'Segoe UI'" href="http://$DevPortalUrl">$DevPortalUrl</a>
  </body>
</html>