<!DOCTYPE html >
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Letter</title>
  </head>
  <body>
    <table width="100%">
      <tr>
        <td>
          <p style="font-size:12pt;font-family:'Segoe UI'">Dear $DevFirstName $DevLastName,</p>
          <p style="font-size:12pt;font-family:'Segoe UI'"></p>
          <p style="font-size:12pt;font-family:'Segoe UI'">You are receiving this email because you requested to change the password on your $OrganizationName API account.</p>
          <p style="font-size:12pt;font-family:'Segoe UI'">Please click on the link below and follow instructions to create your new password:</p>
          <p style="font-size:12pt;font-family:'Segoe UI'">
            <a id="resetUrl" href="$ConfirmUrl" style="text-decoration:none">
              <strong>$ConfirmUrl</strong>
            </a>
          </p>
          <p style="font-size:12pt;font-family:'Segoe UI'">If clicking the link does not work, please copy-and-paste or re-type it into your browser's address bar and hit "Enter".</p>
          <p style="font-size:12pt;font-family:'Segoe UI'">Thank you,</p>
          <p style="font-size:12pt;font-family:'Segoe UI'">$OrganizationName API Team</p>
          <p style="font-size:12pt;font-family:'Segoe UI'">
            <a href="$DevPortalUrl">$DevPortalUrl</a>
          </p>
        </td>
      </tr>
    </table>
  </body>
</html>